*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@400;500;600;700;800');

:root{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
    li{
        list-style: none;
    }
}

